body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #434455;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  margin: 0 auto;
}
.header-container {
  width: 1158px;
  display: flex;
  align-items: center;
}
.header-container-nav {
  display: flex;
  align-items: center;
}
.header-nav:hover,
.header-nav:focus {
  color: #404bbf;
}
.header-nav-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  margin-left: 15px;
}
.header-nav-logo-dark {
  color: #2e2f42;
}
.header-nav-list {
  display: flex;
  gap: 40px;
}
.header-nav-link {
  display: flex;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.header-address {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-address:hover,
.header-address:focus {
  color: #404bbf;
}
.header-address-list {
  display: flex;
  gap: 40px;
  font-style: normal;
}
.header-address-item {
  color: #434455;
}
.hero {
  background-image: url(../images/people-office\ 1.jpg);
  background-image: linear-gradient((46, 47, 66, 0.7), (46, 47, 66, 0.7));
  padding: 188px 0;
}
.container {
  width: 1158px;
}
.hero-container {
  width: 1158px;
}
.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
  padding-bottom: 48px;
  margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  color: var(--WHITE, #fff);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  text-transform: none;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  display: inline-flex;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
button.hero-button {
  display: block;
  margin: 0 auto;
}
.particularrity {
  padding: 120px 0;
}
.container {
  width: 1158px;
}
.particularrity-container {
  box-sizing: border-box;
  margin: 0 auto;
}
.particularrity-title,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  box-sizing: border-box;
}
.particularrity-list {
  width: 1158px;
  gap: 24px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.particularrity-item {
  box-sizing: border-box;
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.particularrity-item-title {
  color: var(--NAVY-BLUE, #2e2f42);
  box-sizing: border-box;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
  padding-bottom: 2px;
  margin-bottom: 8px;
}
.particularrity-item-text {
  box-sizing: border-box;
  list-style-type: none;
  color: var(--SLATE, #434455);
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  margin: 0;
}
.team {
  padding: 120px 0;
  background: var(--CLOUD, #f4f4fd);
}
.container {
  width: 1158px;
}
.team-container {
  width: 1158px;
  box-sizing: border-box;
  margin: 0 15px;
}
.team-title {
  display: flex;
  color: var(--NAVY-BLUE, #2e2f42);
  justify-content: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  box-sizing: border-box;
  gap: 24px;
  justify-content: space-between;
  padding-left: 0;
}
.team-item {
  width: calc((100% - 72px) / 4);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #fff;
}
.team-item-card {
  display: block;
  padding: 32px 0;
  justify-content: center;
}
.team-item-title {
  display: flex;
  width: 264px;
  text-align: center;
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
  justify-content: center;
  margin-bottom: 8px;
}
.team-item-text {
  width: 264px;
  color: var(--SLATE, #434455);
  text-align: center;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.002em;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1158px;
}
.portfolio-container {
  width: 1158px;
  display: flex;
  flex-direction: column;
  border-top: none;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
}
.portfolio-title {
  display: flex;
  color: var(--NAVY-BLUE, #2e2f42);
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: space-between;
  border-top: none;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: var(--WHITE, #fff);
}
.portfolio-item-card {
  width: 360px;
  display: block;
  padding: 32px 16px;
  width: 360px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item-title {
  display: flex;
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-item-text {
  display: flex;
  align-items: flex-start;
  color: var(--SLATE, #434455);
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.footer {
  padding: 100px 0;
  background: var(--NAVY-BLUE, #2e2f42);
  box-sizing: border-box;
}
.container {
  width: 1158px;
}
.footer-container {
  width: 1158px;
}
.footer-logo-link {
  display: inline-block;
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-decoration: none;
  box-sizing: border-box;
}
.header-nav-logo-light {
  display: inline-block;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  color: #f4f4fd;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  box-sizing: border-box;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  width: 264px;
  box-sizing: border-box;
}
